html{
	font-size: 62.5%;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
#bspellContainer{
	font-size: 400%;
}
.letter{
	float: left;
	padding: 20px;
	border: 1px solid #999;
	position: absolute;
	cursor: pointer;
	background: #fff;
}
.letter.dragging{
	background: #ccc;
}
.letter.correct{
	background: #0f0;
}
#targetContainer{

}
.target{
	float: left;
	border: 5px solid #669;
	padding: 40px;
	background: #fff;
	margin-right: 20px;
}
.target.letter-hover{
	background: #0f0;
}