html{
	font-size: 62.5%;
}
body{
	font-family: "Andika", "Comic Sans MS", Helvetica, Arial, sans-serif;
	margin: 0;
}
#bspellContainer{
	font-size: 400%;
	text-align: center;
}
body.loading #bspellContainer{
	visibility: hidden;
}
body .loadingMessage{
	display: none;
	text-align: center;
}
body.loading .loadingMessage{
	display: block;
}

#bspellContainer > img{
	padding: 10px;
	border-radius: 5px;
	background: #ccc;
	padding: auto auto;
}
.letter{
	padding: 5px 20px;
	border: 1px solid #999;
	position: absolute;
	cursor: pointer;
	background: #0064cd;
	z-index: 100;
	color: #fff;
	/* extra junk */
	border-radius: 5px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.6 );
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.letter.dragging{
	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5 );
	font-size: 1.2em;
}
.letter.correct{
	/*
	background: transparent;
	box-shadow: none;
	border: none;
	z-index: 100 !important;
	*/
	display: none;
}
#targetContainer{
	text-align: center;
	margin-bottom: 20px;
}
.target{
	display: inline-block;
	border: 1px solid #669;
	padding: 20px;
	margin: 20px 20px 0 0;
	color: #fff;
	/* extra junk */
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba( 0, 0, 0, 0.5 );
	background: #bbb;
	background-image: -webkit-linear-gradient(top, #ccc, #bbb);
}
.target-inner{
	position: relative;
	top: -9999px;
}
.target.correct{
	background: #1e9a3e;
}
.target.correct .target-inner{
	position: static;
}